@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


.wheel {
  position: relative;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  min-height: 390px;

  .image {
    max-width: 100%;
    display: inline-block;
  }
}


.wheel-price {
  font-weight: bold;
  font-size: 15px;
  display: inline-block;
  margin: 10px 0;
}

.wheel-title {

}

.wheel-link {
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}
